/* globals */

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
	background-color: black;
	color: white;
	font-family: "Garamond";
}

#containerwrapper {
	min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -30px;
}

a {
	color: white;
}

.dreamlink {
	text-decoration: underline;
}

.dreamheader {
	border-top: 2px solid white;
	padding-top: 5px;
}

#about {
	font-family: "Garamond";
	padding-top: 10px;
}

/* dream */

.dream {
	padding-bottom: 5px;
	border-bottom: 2px solid white;
}

.viewdream {
	color: green;
}

.dreamstats {
	margin: 10px 5px 10px 5px;
}

.dreamstatlabel {
	font-weight: bold;
	text-decoration: underline;
}

.description {
	max-height: 300px;
	overflow-y: scroll;
	background-color: #f2f2f2;
	color: black;
	text-shadow: 0 0;
	padding: 5px;
	margin-top: 10px;
}

@media screen and (max-width: 499px) {
	.content {
		max-height: 300px;
	}
}

/* awareness */

.awarenesslevel {
	font-family: "Courier";
	max-width: 300px;
	min-height: 60px;
	color: green;
	font-weight: bold;
	background-color: black;
	text-shadow: 0 0;
	border-radius: 10px;
	padding: 5px 5px 5px 0px;
}

#awarenessnumber {
	text-decoration: underline;
	text-shadow: 0 0;
}

#awarenessicon {
	float: left;
	max-height: 50px;
	max-width: 50px;
}

#awarenessupvote {
	color: green;
	font-weight: bold;
}

#likedream {
	color: green;
}

#likedream:hover {
	color: white;
	font-weight: normal;
}

/* others */

#welcome-message {
	font-family: "Courier";
	color: green;
	font-weight: bold;
}

#headerquotebox {
	color: black;
	background-color: white;
	padding: 5px;
	font-family: "Times";
	border: 1px solid black;
	border-radius: 5px;
	max-width: 565px;
}

#headerquote {
	font-style: italic;
}

#headerlogo {
	white-space: nowrap;
	font-family: "Garamond";
}

#headerlogoicon {
	width: 120px;

}

/* footer should stick to bottom */
.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  /* Set the fixed height of the footer here */
  height: 60px;
}
