{% extends "base.html" %}

{% block head %}

       	<link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css">
		<link type="text/css" rel="stylesheet" href="/stylesheets/forms.css">
		<title>
			Delete Dream
		</title>

{% endblock %}

{% block pageContent %}

	<div class="row">
		<div class="col-xs-12">
			{% if dream %}
			<h1>Delete Dream "{{dream.title}}"</h1>
			{% else %}
			<p> This dream no longer exists.</p>
			{% endif %}
		</div>
	</div>

	{% if dream %}
	<div class="row" id="formrow">
		<div class="col-xs-12 formcol">

			<form action="/dream/delete/{{dream.key().id()}}" method="post">

				<div class="row multisection">
					<div class="col-xs-12 col-onlymid-6">

						<div class="row section" id="deletedream">
							<div class="col-xs-12 nopadding">

								<div class="row">
									<div class="col-xs-12 col-sm-6 question">
										<div class="prompt">
											<span>Really delete dream "{{dream.title}}"?  This action cannot be undone.</span>
										</div>			
										<div class="input">
											<input id="deletedreambutton" class="submit" type="submit" value="Yes, delete the dream">
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>

			</form>

		</div>
	</div>
	{% endif %}

{% endblock %}

