<DOCTYPE !html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<link type="text/css" rel="stylesheet" href="/stylesheets/forms.css">
		<title>
			Create and Post a New Dream
		</title>
	</head>

	<body>

		<h1>Tell us about your dream</h1>

		<form action="/dream/new" method="post">

			<p>Enter title:</p>
			<input type="text" name="title" placeholder="Title" {% if values %}value="{{dreamDict['subject']}}"{% endif %}>{% if messages %}<span class="{{messages['subject']['validity']}}">{{messages['subject']['message']}}</span>{% endif %}
			<br>

			<p>Enter content:</p>
			<textarea name="content" placeholder="Content" {% if values %}value="{{dreamDict['content']}}"{% endif %}></textarea>{% if messages %}<span class="{{messages['content']['validity']}}">{{messages['content']['message']}}</span>{% endif %}
			<br>		

			<br>
			<input type="submit">
		</form>
	</body>
</html>